{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/myprofile.css') }}">
{% endblock %}
{% block main %}
<h3>Détails de la sortie - {{ outing.name }}</h3>
{% endblock %}


